.singleButton {
    -fx-font: 22 arial;
    -fx-font-weight: bold;
    -fx-base: #b3ecff;
}

.multiButton {
    -fx-font: 22 arial;
    -fx-font-weight: bold;
    -fx-base: #b3ecff;
}

.helpButton {
    -fx-font: 22 arial;
    -fx-font-weight: bold;
    -fx-base: #b3ecff;
}

.backButton {
    -fx-font: 26 arial;
    -fx-font-weight: bold;
    -fx-base: #b3ecff;
}

.startButton {
    -fx-font: 22 arial;
    -fx-font-weight: bold;
    -fx-base: #b3ecff;
}

.evenRectangle {
    -fx-fill: #d9b38c;
}

.oddRectangle {
    -fx-fill: #ffe6cc;
}